<ul class="navbar-nav mx-auto text-white">
    <li class="nav-item">
        <a class="nav-link text-white" id="nav-global" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" id="nav-global" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
</ul>